<div id="nav">
    <ul id="nav-parts" class="clickable" ng-click="navigate()">
        <li ui-sref="page.interface" ui-sref-active="current"><p>Home</p></li>
        <li ng-if="lecturerTest()" ui-sref="page.log" ui-sref-active="current"><p>Message Log</p></li>
        <li ng-if="adminTest()" ui-sref="page.admin" ui-sref-active="current"><p>Admin Panel</p></li>
        <li ui-sref="page.userprofile" ui-sref-active="current">My Profile</li>
        <li ui-sref="page.about" ui-sref-active="current">About</li>
        <li ui-sref="page.help" ui-sref-active="current">Help</li>
        <li ng-click="logout()" ui-sref-active="current">Logout</li>
    </ul>
    <ul id="nav-links" class="clickable" ng-click="navigate()">
        <li class="noSelect"><a href="https://github.com/nightpaws/ADVE-RTISE/issues">Issue Log</a></li>
    </ul>
</div>