<div id="nav">
    <ul id="nav-parts" class="clickable" ng-click="navigate()">
        <li ui-sref="page.index" ui-sref-active="current"><p>Index</p></li>
        <li ui-sref="page.user" ui-sref-active="current"><p>My Account</p></li>
    </ul>
    <ul id="nav-help" class="clickable" ng-click="navigate()">
        <li ui-sref="page.about" ui-sref-active="current">About </li>
        <li ui-sref="page.help" ui-sref-active="current">Help</li>
        <li><a href="https://github.com/nightpaws/ADVE-RTISE/issues">Bugs</a></li>
    </ul>
</div>