<div id="nav">
    <ul id="nav-parts" class="clickable" ng-click="navigate()">
        <li ui-sref="page.interface" ui-sref-active="current"><p>Home</p></li>
        <li ui-sref="page.schedules" ui-sref-active="current"><p>Scheduler</p></li>
        <li ui-sref="page.account" ui-sref-active="current"><p>[Admin] Account Manager</p></li>
        <li ui-sref="page.userprofile" ui-sref-active="current">My Profile</li>
        <li ng-click="logout()" ui-sref-active="current">Logout</li>
    </ul>
    <ul id="nav-help" class="clickable" ng-click="navigate()">
        <li ui-sref="page.about" ui-sref-active="current">About </li>
        <li ui-sref="page.help" ui-sref-active="current">Help</li>
        <li><a href="https://github.com/nightpaws/ADVE-RTISE/issues">Bugs</a></li>
    </ul>
</div>