<!--<div id="interface-main" class="scrollable">-->
<!--<div class="tile" id="interface-welcome">-->
<!--<h1>Home Screen!</h1>-->
<!--</div>-->
<!--</div>-->
<div id="interface-main" class="scrollable">
    <div class="message-container">
        <div id="btnBox">
            <button class="btn btn-primary" id="new-Post" ng-click="message()">New Post</button>
            <button class="btn btn-info" id="schedule-Post" ng-click="schedule()">Schedule</button>
        </div>
        <script type="text/ng-template" id="newPost.html">
            <div class="modal-header">
                <h3 class="modal-header">Submit a Message</h3>
            </div>
            <form name="messageForm" ng-submit="submit(messageForm.$invalid)" novalidate>
                <div class="modal-body">

                    <div class="form-group"
                         ng-class="{'has-error': messageForm.subject.$invalid && messageForm.subject.$touched}">
                        <label class="control-label" for="subject">Subject:</label>
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject/Tweet"
                               ng-model="subject" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="content">Message Content:</label>
                        <textarea type="text" class="form-control" rows="5" id="content" name="content"
                                  placeholder="Got more to say?" ng-model="content"></textarea>
                    </div>
                    <div class="form-group"
                         ng-class="{'has-error': messageForm.accept.$invalid && messageForm.accept.$touched}">
                        <label class="control-label">Message Content:</label>
                        <!--https://jsfiddle.net/deeptechtons/TKVH6/-->
                        <table>
                            <tr>
                                <td><label>First Year</label>
                                    <checkbox ng-model="y1" class="btn-primary"/>
                                </td>
                                <td><label>Second Year</label>
                                    <checkbox ng-model="y2" class="btn-primary"/>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Third Year</label>
                                    <checkbox ng-model="y3" class="btn-primary"/>
                                </td>
                                <td><label>Fourth Year</label>
                                    <checkbox ng-model="y4" class="btn-primary"/>
                                </td>
                            </tr>
                            <tr>
                                <td><label>Fifth Year</label>
                                    <checkbox ng-model="y5" class="btn-primary"/>
                                </td>
                                <td><label>PhD Year</label>
                                    <checkbox ng-model="y6" class="btn-primary"/>
                                </td>
                            </tr>
                        </table>
                        <!--<li><label>First Year</label><checkbox ng-mode="y1" class="btn-primary"/></li>-->
                        <!--<li><label>Second Year</label><checkbox ng-mode="y2" class="btn-primary"/></li>-->
                        <!--<li><label>Third Year</label><checkbox ng-mode="y3" class="btn-primary"/></li>-->
                        <!--<li><label>Fourth Year</label><checkbox ng-mode="y4" class="btn-primary"/></li>-->
                        <!--<li><label>Fifth Year</label><checkbox ng-mode="y5" class="btn-primary"/></li>-->
                        <!--<li><label>PhD Year</label><checkbox ng-mode="y6" class="btn-primary"/></li>-->
                        <!--<li ng-repeat="year in Years">-->
                        <!--<label>{{year.group}}-->
                        <!--<checkbox id="{{year.id}}" name="{{year.id}}" ng-model="recipients"-->
                        <!--value="{{year.id}}" class="btn-primary"></checkbox>-->
                        <!--</label>-->
                        <!--</li>-->
                        </ul>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" ng-click="ok()" ng-disabled="!messageForm.$valid">
                        Submit
                    </button>
                    <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </form>
        </script>
        <!--<form name="messageForm" ng-submit="sendMessage(messageForm.$valid)" novalidate>-->

        <!--<div class="form-group" ng-class="{'has-error': messageForm.subject.$invalid && messageForm.subject.$touched}">-->
        <!--<label class="control-label" for="subject">Subject:</label>-->
        <!--<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject/Tweet" ng-model="message.subject" required>-->
        <!--</div>-->

        <!--<div class="form-group">-->
        <!--<label class="control-label" for="message">Message Content:</label>-->
        <!--<textarea type="text" class="form-control" rows="5" id="message" name="message" placeholder="Got more to say?" ng-model="message.content"></textarea>-->
        <!--</div>-->

        <!--<div id="btnBox" class="checkbox" ng-class="{'has-error': messageForm.accept.$invalid && messageForm.accept.$touched}">-->
        <!--&lt;!&ndash;https://jsfiddle.net/deeptechtons/TKVH6/&ndash;&gt;-->
        <!--<ul>-->
        <!--<li ng-repeat="year in Years">-->
        <!--<label>{{year.group}}-->
        <!--<checkbox id="{{year.id}}" name="{{year.id}}" ng-model="year.selected" value="{{year.id}}" class="btn-primary"></checkbox>-->
        <!--</label>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-danger" ng-disabled="!messageForm.$valid">Submit</button>-->
        <!--</form>-->

    </div>
</div>