<!--<div id="interface-main" class="scrollable">-->
<!--<div class="tile" id="interface-welcome">-->
<!--<h1>Home Screen!</h1>-->
<!--</div>-->
<!--</div>-->
<div id="interface-main" class="scrollable">
    <div class="message-container">
        <form id="posting" name="messageForm" ng-submit="message(messageForm.$valid)" novalidate>
            <div class="form-group"
                 ng-class="{'has-error': messageForm.subject.$invalid && messageForm.subject.$touched}">
                <label class="control-label" for="subject">Subject:</label>
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject/Tweet"
                       ng-model="message.subject" required>
            </div>
            <div class="form-group"
                 ng-class="{'has-error': messageForm.content.$invalid && messageForm.content.$touched}">
                <label class="control-label" for="content">Message Content:</label>
                <!--<input type="text" class="form-control" id="content" name="content" placeholder="Content" ng-model="message.content">-->
                <textarea type="text" class="form-control" rows="5" id="content" name="content"
                          placeholder="Got more to say?" ng-model="message.content"></textarea>

            </div>
            <div id="buttonbox" class="form-group" ng-class="{'has-error': messageForm.subject.$invalid && messageForm.subject.$touched}">
            <button class="btn btn-info">Schedule</button><br>
            <button class="btn btn-primary">1st Year</button>
            <button class="btn btn-primary">2nd Year</button>
            <button class="btn btn-primary">3rd Year</button><br>
            <button class="btn btn-primary">4th Year</button>
            <button class="btn btn-primary">5th Year</button>
            <button class="btn btn-primary">PhD Year</button><br>
            <button type="submit" class="btn btn-danger">Submit</button>
            </div>

        </form>
    </div>
</div>