//Initialise Variables
$header-height: 3.5rem;
$nav-width: 250px;

//SAAS Begins:
html, body, .full-height {
  height: 100%;
  background-color: #cdf;
}

.no-display {
  display: none;
}

.border-underline {
  border-bottom: 1px solid #0dd;
}

.border-underline-cyan {
  border-bottom: 1px solid #00FFFF;
}

.border-underline-thick-cyan {
  border-bottom: 3px solid #00FFFF;
}

.clickable {
  cursor: pointer;
}

.scrollable {
  height: 100%;
  overflow-y: auto;
}

/*
 * Loading page
 */

#body-loading {
  position: fixed;
  top: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
  background-image: $background-color;
  width: 100%;
  z-index: 1000;
}

#body-loading.fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}

#body-loading-content.fadeout-quick {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

#body-loading-content p {
  margin-top: 2rem;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-style: italic;
  text-transform: uppercase;
}

#body-loading h1 {
  color: white;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
  width: 70%;
  margin: 5rem auto 0 auto;
  max-width: 400px;
}

/*Loader by https://twitter.com/lukehaas
* http://projects.lukehaas.me/css-loaders/
*/
.loader {
  font-size: 40px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #00FFFF, 0 -0.83em 0 -0.42em #00FFFF, 0 -0.83em 0 -0.44em #00FFFF, 0 -0.83em 0 -0.46em #00FFFF, 0 -0.83em 0 -0.477em #00FFFF;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #00FFFF, 0 -0.83em 0 -0.42em #00FFFF, 0 -0.83em 0 -0.44em #00FFFF, 0 -0.83em 0 -0.46em #00FFFF, 0 -0.83em 0 -0.477em #00FFFF;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #00FFFF, -0.087em -0.825em 0 -0.42em #00FFFF, -0.173em -0.812em 0 -0.44em #00FFFF, -0.256em -0.789em 0 -0.46em #00FFFF, -0.297em -0.775em 0 -0.477em #00FFFF;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #00FFFF, -0.338em -0.758em 0 -0.42em #00FFFF, -0.555em -0.617em 0 -0.44em #00FFFF, -0.671em -0.488em 0 -0.46em #00FFFF, -0.749em -0.34em 0 -0.477em #00FFFF;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #00FFFF, -0.377em -0.74em 0 -0.42em #00FFFF, -0.645em -0.522em 0 -0.44em #00FFFF, -0.775em -0.297em 0 -0.46em #00FFFF, -0.82em -0.09em 0 -0.477em #00FFFF;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #00FFFF, 0 -0.83em 0 -0.42em #00FFFF, 0 -0.83em 0 -0.44em #00FFFF, 0 -0.83em 0 -0.46em #00FFFF, 0 -0.83em 0 -0.477em #00FFFF;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em #00FFFF, 0 -0.83em 0 -0.42em #00FFFF, 0 -0.83em 0 -0.44em #00FFFF, 0 -0.83em 0 -0.46em #00FFFF, 0 -0.83em 0 -0.477em #00FFFF;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em #00FFFF, 0 -0.83em 0 -0.42em #00FFFF, 0 -0.83em 0 -0.44em #00FFFF, 0 -0.83em 0 -0.46em #00FFFF, 0 -0.83em 0 -0.477em #00FFFF;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em #00FFFF, -0.087em -0.825em 0 -0.42em #00FFFF, -0.173em -0.812em 0 -0.44em #00FFFF, -0.256em -0.789em 0 -0.46em #00FFFF, -0.297em -0.775em 0 -0.477em #00FFFF;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em #00FFFF, -0.338em -0.758em 0 -0.42em #00FFFF, -0.555em -0.617em 0 -0.44em #00FFFF, -0.671em -0.488em 0 -0.46em #00FFFF, -0.749em -0.34em 0 -0.477em #00FFFF;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em #00FFFF, -0.377em -0.74em 0 -0.42em #00FFFF, -0.645em -0.522em 0 -0.44em #00FFFF, -0.775em -0.297em 0 -0.46em #00FFFF, -0.82em -0.09em 0 -0.477em #00FFFF;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em #00FFFF, 0 -0.83em 0 -0.42em #00FFFF, 0 -0.83em 0 -0.44em #00FFFF, 0 -0.83em 0 -0.46em #00FFFF, 0 -0.83em 0 -0.477em #00FFFF;
  }
}


/*
 * Modal css
 */

.modal-dialog {
  margin-top: 4.2rem;
}

.modal-content {
  border-radius: 0;
}

/*
 * Tiles
 */

.tile {
  padding: 1rem;
  border-bottom: 1px solid #222;
}

.tile-title {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}