#log-main {

  .log-container {
    text-align: center;

    p{
      padding: 1em;
    }

    table, th, td {
      border: 1px solid dimgray;
      text-align: center;
    }

    #msgTbl {
      width: 70%;
      border-collapse: collapse;
      margin-left:15%;
      margin-right:15%;

      #col1{
        width:10%;

      }
      #col2 {
        width:30%;

      }
      #col3 {
        width:10%;

      }
      #col4 {
        width:10%;

      }
      #col5 {
        width:10%;

      }

    }
  }
}