#log-main {

  .log-container {
    text-align: center;

    p{
      padding: 1em;
    }

    table, th, td {
      border: 1px solid dimgray;
      text-align: center;
    }

    #msgTbl {
      width: 90%;
      border-collapse: collapse;

    }
  }
}