#log-main {

  .log-container {
    text-align: center;

    p{
      padding: 1em;
    }

    table, th, td {
      border: 1px solid dimgray;
      text-align: center;
    }

    #msgTbl {
      width: 80%;
      border-collapse: collapse;
      margin:0.5rem;
      
      #col1{
        width:12%;

      }
      #col2 {
        width:32%;

      }
      #col3 {
        width:12%;

      }
      #col4 {
        width:12%;

      }
      #col5 {
        width:12%;

      }

    }
  }
}