#nav {
  color: white;
  height: 100%;

  #nav-parts {
    li {
      padding: 1rem;
    }

    li:hover {
      background-color: $background-light;
    }

    li.current {
      background-color: $background-light;
      color: $highlight;
    }

    li:not(:last-of-type) {
      border-bottom: 1px solid black;
    }

    li:not(:first-of-type) {
      border-top: 1px solid #333;
    }

    .noSelect {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
}