<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADVE-RTISE</title>
    <base href="/"/>
    <!-- Attempt to run as a web app, and scale correctly on portable devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="Social Media Integration Platform">
    <meta name="keywords" content="social_media,twitter,facebook,integration,platform,api,university,strathclyde">
    <meta name="copyright" content="Craig Morrison">

    <!-- On mobile devices, serve the app an icon -->
    <link rel="icon" sizes="192x192" href="image/advertise-4x.png">
    <link rel="apple-touch-icon" href="image/advertise-4x.png">
    <link rel="shortcut icon" href="image/advertise-0-75x.png" type="image/x-icon">
    <link rel="manifest" href="manifest.json">
    <!-- bower:css -->
    <!-- endbower -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:700,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body ng-app="advertise">
<div class="full-height" id="body-loaded">
<header ui-view="header" ng-if="app.showHeader"></header>
    <div id="body-wrapper" ng-class="{'full-height cancel-header' : !app.showNav, 'show-menu': app.showMenu}" >

        <nav ui-view="nav" ng-if="app.showNav">


        </nav>

        <main ui-view="main" ng-class="{'full-height': !app.showHeader, 'cancel-header': !app.showNav}">

        </main>
    </div>
</div>





<!--Will use angular to make this pretty-->
<div id="body-loading" class="full-height" ng-class="{'fadeout': app.loaded}">

    <div id="body-loading-content" ng-class="{'fadeout-quick': app.loaded}">
        <h1 class="border-underline-cyan">ADVE-RTISE</h1>
        <p>Version 0.2.5</p>
        <div class="loader">Loading...</div>
    </div>

</div>

<!-- bower:js -->
<!-- endbower -->

<!-- inject:js -->
<!-- endinject -->

<!--Time for our script-->
<!--<script src = "/application/app/app.js"></script>-->
<script src = "/app/app.js"></script>

</body>
</html>